.item-container {
    display: flex;
    padding-left: 4%;
    justify-content: space-between;
}
a {
    text-decoration: none;  
    color: black;
}

a:link {
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    text-decoration: none;
  }
  
  /* selected link */
  a:active {
    text-decoration: none;
  }

.item-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-description {
    line-height: 1.5em;
    height: 3.1em;
    overflow: hidden;
}

.rating-number {
    color: grey;
}

.item-image {
    width: 100%;
    margin-right: 1%;
}

.img-box {
    height: 160px;
    width: 100%;
    position: relative;
}

.item-length {
    justify-content: row;
}

.star-rating li {
    padding: 0;
}

.star-rating i {
    font-size: 14px;
    color: #ffc000;
}

.item-teacher {
    color: darkslategrey;
    font-weight: 600;
}

.item-real-price {
    color: #86bd57;
    font-weight: 600;
}

.item-price {

    flex-direction: column;
}

.select-option {
    padding: 0.5em;
    border-radius: 10px;
    background-color: white;

    align-items: center;
    justify-content: space-between;
}
.div-finish-course{
    background-color: #eff184;
}