{{#section 'css'}}
<link rel="stylesheet" href="/public/stylesheets/admin-homepage.css">
{{/section}}
{{#section 'js'}}
<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  //document.getElementById("mySidenav").classList.add("fadein");
}
function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  //document.getElementById("mySidenav").classList.add("fadeout");
}
</script>
{{/section}}

<div id="mySidenav" class="sidenav" onmouseleave="closeNav()">
  <a href="/admin/course/all">Course</a>
  <a href="/admin/category/all">Category</a>
  <a href="#">Teacher</a>
  <a href="#">Student</a>
</div>
<span style="font-size:30px;cursor:pointer" onMouseenter="openNav()">&#9776; Management</span>