<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <i class="fa fa-home fa-lg"></i>
  </a>
  <a class="navbar-brand" href="/">E-Learning</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Trang chủ <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Thể loại
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/error">Lập trình Web</a>
          <a class="dropdown-item" href="#mobile">Lập trình di động</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        <i class="fa fa-search" aria-hidden="true"></i>
        Tìm kiếm
      </button>
    </form>
    <form id="frmLogout" method="POST" action="/account/logout"></form>
     <ul class="navbar-nav ml-auto">
       {{#if isAuth}}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user" aria-hidden="true"></i>
          Welcome, <b>{{authUser.FullName}}</b>!
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/account/profile">
            <i class="fa fa-user" aria-hidden="true"></i>
            Profile
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript: $('#frmLogout').submit();">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            Sign Out
          </a>
        </div>
      </li>
      {{else}}
      <li class="nav-item">
        <a class="btn btn-success" href="/account/login">
          <i class="fa fa-sign-in" aria-hidden="true"></i>
          Đăng nhập
        </a>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-success" href="/account/register">
          <i class="fa fa-user-plus" aria-hidden="true"></i>
          Đăng kí
        </a>
      </li>
      {{/if}}
      
    </ul>
  </div>
</nav>