{{#section 'css'}}
<style>
  img {
    border-radius: 50%;
    align-self: center;
  }

  p {
    align-self: center;
    font-size: larger;
  }

  .col-8 {
    display: :flex;
  }

  button {
    align-items: center;
    align-self: center;
  }
</style>
{{/section}}

{{#section 'js'}}
{{/section}}
<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="container-fluid mt-4">
        <div class="row">
          <div class="card mb-3">
            <ul class="list-group list-group-flush">
              <img src="../../public/avatar/avatar.png" alt="Avatar" style="width:200px">
              <p>{{user.FullName}}</p>
              <a class="list-group-item list-group-item-action" href="/user/account/list-course">My Learning</a>
              <a class="list-group-item list-group-item-action" href="/user/account/wishlist">My Wishlist</a>
              <a class="list-group-item list-group-item-action" href="/user/account/profile">Profile</a>
              <a class="list-group-item list-group-item-action active" href="/user/account/edit-password">Account</a>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8">
      {{#if err_message}}
      <div id="error-message" class="alert alert-warning alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{err_message}}
      </div>
      {{/if}}
      <form method="POST" action="" id="frmChangePassword">
      <div class="container-fluid mt-4">
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="txtCurrentPw" placeholder="Enter Current Password" name="CurrentPassword">
          <label for="floatingInput">Enter Current Password</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="txtNewPw" placeholder="Enter New Password" name="NewPassword">
          <label for="floatingInput">Enter New Password</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="txtRetypeNewPw" placeholder="Re-type New Password" name="RetypeNewPassword">
          <label for="floatingInput">Re-type New Password</label>
        </div>
        <button type="submit" class="btn btn-danger" formaction="/user/account/edit-password" > Change Password</button>
      </div>
      </form>
    </div>
  </div>
</div>