
<form action="" method="post" id="frmRegister">
  <div class="card">
    <h5 class="card-header">Register</h5>
    <div class="card-body">
      <div class="form-group">
        <label for="txtUsername">Username</label>
        <input type="text" class="form-control" id="txtUsername" name="username" autofocus>
      </div>
      <div class="form-group">
        <label for="txtPassword">Password</label>
        <input type="password" class="form-control" id="txtPassword" name="password">
      </div>
      <div class="form-group">
        <label for="txtConfirm">Confirm</label>
        <input type="password" class="form-control" id="txtConfirm">
      </div>
      <div class="form-group">
        <label for="txtName">Name</label>
        <input type="text" class="form-control" id="txtName" name="name">
      </div>
      <div class="form-group">
        <label for="txtEmail">Email</label>
        <input type="text" class="form-control" id="txtEmail" name="email">
      </div>
      <div class="form-group">
        <label for="txtDOB">DOB</label>
        <input type="text" class="form-control" id="txtDOB" name="dob">
      </div>

    </div>
    <div class="card-footer text-muted">
      <button type="submit" class="btn btn-outline-success">
        <i class="fa fa-check" aria-hidden="true"></i>
        Register
      </button>
    </div>
  </div>
</form>