{{#section 'css'}}
<link rel="stylesheet" href="../../public/stylesheets/courseByCategory.css">
{{/section}}
<div class="row col-md-12 justify-content-center">
  <div class="col-md-1 carousel-title"></div>
  <div class="col-md-10 carousel-title">
    <h1>
      Mobile development
    </h1>
    <div>
      <hr />
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

<div class="row col-md-12 justify-content-center">
  <div class="col-md-1 carousel-title"></div>
  <div class="col-md-10">

    <div class="item-container">
      <div class="item-image">Image</div>
      <div class="item-content">
        <div>
          <h3>This is a title</h3>
        </div>
        <div class="content-description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, laborum! Eius deleniti eligendi,
          possimus illo dolorum molestiae! Ad dolor exercitationem sunt cumque odit. Iure cumque a atque, provident
          assumenda libero?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint ab esse quam eveniet, sequi nisi exercitationem
          perferendis ea, similique consectetur veniam illo modi labore laudantium explicabo, excepturi itaque quo vero.
          This islorem
          contenadjlkffffffff
          adfasdfsad
          adfasdfast</div>
        <div class="item-teacher">Author Masterpiece</div>
        <div class="item-length">Web development | 4 hours &bull; 7 chapters &bull; 23 lessons </div>
        <div class="star-rating">
          <ul class="list-inline">
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
            <li class="list-inline-item">(123)</li>
          </ul>
        </div>
      </div>
      <div>
        <div class="item-price">
          <div class="item-real-price">
            <h4>10.06$</h4>
          </div>
          <div><strike>1099.12$</strike></div>
        </div>
      </div>
      <div class="col-md-1"></div>
     
    </div>
     <div>
        <hr />
      </div>
  </div>